.tweetsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    height:auto;
}

.twitter-bloc{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    padding: 0 25px;
    box-sizing: border-box;
    margin: 10px;
}